<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>EditProfile</servlet-name>
        <servlet-class>controller.ProfileController.EditProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MovieDetailServlet</servlet-name>
        <servlet-class>controller.MovieDetailController.MovieDetailServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EditProfile</servlet-name>
        <url-pattern>/EditProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MovieDetailServlet</servlet-name>
        <url-pattern>/MovieDetailServlet</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>HomePage.jsp</welcome-file>
    </welcome-file-list>
</web-app>
