/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 22, 2024, 7:49:50 AM
    Author     : GIA TIEN
*/

body {
    font-family: Nunito Sans, sans-serif !important;
    color: #4a4a4a;
}

.main {
    /* font-family: Nunito Sans, sans-serif !important; */
    color: #4a4a4a;
    margin-top: 121px;
}

.book_ticket_wrapper{
    margin-bottom: 6rem;
}

.bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0/var(--tw-bg-opacity));
}

.poster-container {
    position: relative;
}

.background-image {
    width: 950px;
    height: 550px;
}

.play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    background-color: rgba(210, 206, 206, 0.4);
    border: 0;
    /* Loại bỏ border */
    border-radius: 50%;
    cursor: pointer;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
    opacity: 0; /* Set initial opacity to 0 */
    transition: opacity 0.5s ease; /* Add transition for opacity property */
}

.modal.active {
    display: flex;
    opacity: 1; /* Set opacity to 1 when the 'active' class is added */
}

.modal iframe {
    width: 80%;
    height: 80%;
}


.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.movie_thumbnail {
    width: 278px;
    height: 397px;
    margin-top: 20px;
}

.movie_detail {
    /* font-size: 14px; */
    color: #4a4a4a;
    margin: 80px 20px;
}

.movie_mvo{

}

.movie_rated{
    margin-top: 7px !important;
    border-radius: 0.25rem;
    margin: 12px 20px;
    padding: 2px 8px;
    font-size: .875rem;
    background-color: rgb(242, 111, 64);
    color: #fff;
    font-weight: 700;
}

.movie_time{

}

.movie_minute{

}

.ti-timer{
    color: rgb(242, 107, 56);
    margin-right: 4px;
}

.movie_calendar{
    margin-left: 21px;
}

.movie_voting{
    align-items: center;
}

.ti-star{
    color: rgb(242, 107, 56);
    font-size: 20px;
    margin-right: 6px;
}

.movie_point{
    font-size: 20px;
    margin-right: 6px;
    cursor: pointer;
}

.movie_votes{
    cursor: pointer;
    font-size: .875rem;
    margin-top: 0px;
}

.ti-clipboard{
    color: rgb(242, 107, 56);
    margin-right: 4px;
}

.book_ticket_wrapper{
    margin-bottom: 6rem;
}
/* 
.movie_detail p {
    margin-bottom: 5px;
    font-size: 15px;
    padding-bottom: 8px;
}

.movie_detail h2 {
    margin-bottom: 28px;
    font-weight: 700;
    font-size: 28px;
} */

.fond {
    font-size: 14px;
}

.movie_info {
    display: flex;
    width: 100%;
}

.uppercase {
    text-transform: uppercase;
}

.text {
    font-size: 17px;
    color: #4a4a4a;
    margin-top: 7px;
}

.now-playing {
    padding-top: 20px;
    width: 100%;
}

.now-playing-beekeeper {
    margin-top: 10px;
}

.now-playing-beekeeper-name {
    margin-top: 10px;
}

.main_content {
    display: flex;
}

.main_content1 {
    display: flex;
    margin-bottom: -70px;
}

.main_content2 {
    word-wrap: break-word;
    padding: 0 60px 0 0;
    margin-top: 40px;
    color: #4a4a4a;
    text-align: justify;
}

.ndp_word{
    font-size: 16px;
    margin-top: 16px;
}

.col_ndp, .lc_col, .nowplaying_blue_col{
    margin-left: -8px;
}

.lc_col{
    margin-top: 10px;
}

.orange_col {
    --tw-border-opacity: 1;
    border-color: rgb(242, 107, 56);
    border-style: solid;
    border-left-width: 2px;
    box-sizing: border-box;
    max-width: 50px;
    height: 24px;
    margin: 4px 10px 10px 10px;
}

.nowplaying_blue_col h1{
    margin-top: 6px;
}

.main_content_left {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.main_content_right {
    width: 20%;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    display: none;
    align-items: center;
    justify-content: center;
}

.bold{
    font-weight: bold;
}

.font{
    font-weight: bold;
    margin-right: 10px;
}

.today{
    display: flex;
}

.lc, .ndp{
    font-size: 1.4rem;
}

.line{
    width: 96%;
    height: 4px;
    background-color: rgb(242, 107, 56);
    margin: 1rem 0;
    word-wrap: break-word;
    padding: 0 60px 0 0;
}

.list_day{
    padding-right: 4px;
    font-size: 1.6rem;
}



.showtime_bundle{
    display: flex;
}

.showtime_bundle p{
    width: 194px;
}

.showtime_list{
    padding: 32px;
}

.Subtitles{
    font-size: 1rem;
    margin: 38px;
}

.ti-calendar{
    margin-right: 12px;
}

.time_slot{
    padding-top: 26px;
}

.time_slot1{
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.time_slot1:hover{
    background-color: rgb(242, 107, 56);
    color: #fff;
}

.see_more {
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: .15s;
    color: rgb(242, 107, 56/var(--tw-text-opacity));
    font-size: .875rem;
    text-align: center;
    display: inline-flex;
    background-color: transparent;
    text-decoration: inherit;
    font-family: Nunito Sans, sans-serif!important;
    box-sizing: border-box;
    align-items: center;
    margin-left: 156px;
    margin-top: 8px;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    padding: 12px 0 12px 0;
    align-items: center;
    justify-content: center;
    width: 60%;
    color: rgb(242, 107, 56);
}

.see_more:hover{
    color: white;
    background-color: rgb(242, 107, 56);
}

.ti-angle-right {
    margin-left: 6px;
}

.showtime_bundle {
    display: flex;
    flex-direction: row;
}

.time_slot1 {
    margin-bottom: 6px;
    margin-top: 6px;
    margin-right: 10px;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-width: 1px;
    border-radius: 0.25rem;
    cursor: pointer;
    background-color: transparent;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.time_slot1.active {
    background-color: #034ea2;
    ;
    ; /* Màu nền của nút giờ được chọn */
    color: #fff; /* Màu chữ của nút giờ được chọn */
}

